@import url('https://fonts.googleapis.com/css2?family="Mulish:400,700&display=swap');

html {
  font-size: 16px;
  font-family: "Mulish";
}

body {
  color: #fff; 
  background-image: url("./images/1.jpg");
  background-position: center;
  background-size: cover;
height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol, ul{
  list-style: none;
}
.menu{
  position: fixed;
  right: 50px;
  top: 50px;
  background-image: url("./images/menu.webp");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 50px;
  z-index: 99;   
  cursor: pointer;
  transition: all .2s;
}
nav{
  position: relative;
  z-index: 9;
}
ul{
  position: absolute;
  right: 50%;
  top: 50%;
  translate: -50% 50%;
  opacity: 0;
  transition: all 0.3s;
}
ul li{
  font-size: 30px;
  line-height: 35px;
  margin: 30px 0;
  cursor: pointer;    
  position: relative;
  right: -100%;
  opacity: 0;    
  border-bottom: 2px solid transparent;
  text-align: center;
}
ul li:hover{
  color: #000;
  border-bottom: 2px solid #000;
}

.overlay{
  background-image: linear-gradient(to left, #fffbd5, #b20a2c);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  opacity: 0;
}
body.open .menu{
  background-image: url("./images/close.png");
  background-size: 80%;
}
body.open ul{
  opacity: 1;
}
body.open ul li{
  transition: all 0.5s;
  animation: moveLi 1s 0.4s both;
}
body.open .overlay{
 animation: showOverlay 0.5s both;
}
.overlay{
  animation: hideOverlay 0.5s both;
}


  
.questionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 1em;
}

.visible{
  display: none;
}
details {
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  background-color: #f6faff;
  border-radius: 8px;
  position: relative;
  max-width: 600px;
  border: 1px solid #c3deff;
  transition: all 0.3s ease-in-out;
}

details:hover {
  border: 1px solid #a4a1ff;
}

summary {
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    list-style: none;
    align-items: center;
    padding: 1em;
}

summary:hover .question {
    opacity: 1;
}

summary::-webkit-details-marker{
    display: none;
}

summary:focus{
    outline: none;
}

summary:hover .expandIcon{
    opacity: 1;
}

.question{
    opacity: 0;
    color:#1C2035;
    width: 90%;
    opacity: 0.65;
    transition: all 250ms ease-in-out;
}

.answer {
    color:#303651;
    padding:0.2em 1em 1em 1em;
    font-weight: 300;
    line-height: 1.5;
}

.expandIcon{
    opacity: 0.65;
    pointer-events: none;
    position: absolute;
    left: 1em;
    transition: all 150ms ease-out;
}

@keyframes showOverlay {
  0%{
      width: 50%;
      height: 50%;
      opacity: 1;
  }
  100%{
      width: 100%;
      height: 100%;
      opacity: 1;
  }
}
@keyframes hideOverlay {
  0%{
      width: 100%;
      height: 100%;
      opacity: 1;
  }
  100%{
      width: 0;
      height: 0;
      opacity: 0;
  }
}
@keyframes moveLi {
  0%{
      left: -100%;
      opacity: 0;
  }
  100%{
      left: 0;
      opacity: 1;
  }
}
